%h1= @recipe.name

%br
Serves:
%strong= @recipe.serves
%br
Prep Time:
%strong= @recipe.prep_time
%br
Cooking Time:
%strong= @recipe.cooking_time
%br
Ingredients:
%strong= @recipe.ingredients
%br
Instructions:
%strong= @recipe.instructions
%br
Author:
%strong= @recipe.author

#{ button_to 'Home', root_path, method: :get }

%br

#{ button_to 'Find a random Recipe!', recipe_path(@random_recipe.id), method: :get }

%br

#{ button_to 'Save Recipe', user_recipes_path, params: { recipe_id: @recipe.id } }
